@font-face {
    font-family: UniversalSans-500;
    src: url(/fonts/UniversalSans-500.woff) format("woff"), url(/fonts/UniversalSans-500.ttf) format("ttf");
    font-weight: 500;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: UniversalSans-500-Headlines;
    src: url(/fonts/UniversalSans-500-Headlines.woff) format("woff"), url(/fonts/UniversalSans-500-Headlines.ttf) format("ttf");
    font-weight: 500;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: UniversalSans-740;
    src: url(/fonts/UniversalSans-740.woff) format("woff"), url(/fonts/UniversalSans-740.ttf) format("ttf");
    font-weight: 700;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: UniversalSans-740-Headlines;
    src: url(/fonts/UniversalSans-740-Headlines.woff) format("woff"), url(/fonts/UniversalSans-740-Headlines.ttf) format("ttf");
    font-weight: 700;
    font-style: normal;
    font-display: swap
}

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    -webkit-overflow-scrolling: auto
}

body,
html {
    border: 0;
    height: 100%
}

body {
    height: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed
}

button {
    display: inline-block;
    background: none;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    text-align: left;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    cursor: pointer
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit
}

a {
    text-decoration: none
}

button {
    border: none
}

button::-moz-focus-inner {
    border: 0
}

input:-webkit-autofill,
input:-webkit-autofill:active,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover {
    -webkit-transition: color 5000s ease-in-out 0s, background-color 5000s ease-in-out 0s;
    transition: color 5000s ease-in-out 0s, background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: var(--color-white) !important
}

input:required {
    box-shadow: none
}

input:invalid {
    box-shadow: 0 0 0 transparent
}

textarea {
    overflow: auto
}

li {
    list-style: none outside none
}

body {
    font-family: UniversalSans-500, Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: var(--color-black);
    min-height: 100vh;
    min-width: 320px
}

body>#__next {
    display: flex;
    flex-direction: column;
    min-height: 100vh
}

main {
    opacity: 0
}

img {
    display: block;
    max-width: 100%;
    height: auto
}

.js-focus-visible :focus:not(.focus-visible),
[data-js-focus-visible] :focus:not([data-focus-visible-added]) {
    outline: none
}

address {
    font-style: normal
}

:root {
    --color-white: #fff;
    --color-smoke: #f4f5f8;
    --color-silver: #bbc4d2;
    --color-shadow: #637695;
    --color-grey: #858e97;
    --color-darkGrey: #56616a;
    --color-midnight: #2a2d38;
    --color-darkMidnight: #17191f;
    --color-black: #050411;
    --color-social-share: #ededed;
    --color-article-about: #f6f6f6;
    --color-error: #d82b2b;
    --color-cardGrey: #212328;
    --color-cardGreyHover: #282a30;
    --color-textSelection: #dcecf4;
    --color-headerWhite: #ffffff80;
    --color-headerDark: #17191f80;
    --ease: cubic-bezier(1, 0, 0, 1);
    --ease-out: cubic-bezier(0.19, 1, 0.22, 1);
    --ease-in: cubic-bezier(0.95, 0.05, 0.795, 0.035);
    --default: cubic-bezier(0.25, 0.1, 0.25, 1);
    --easeOutExpo: cubic-bezier(0.16, 1, 0.3, 1);
    --easeInExpo: cubic-bezier(0.7, 0, 0.84, 0);
    --z-card: 103;
    --z-header: 102;
    --z-popup: 101;
    --menu-follow-delay: 0ms
}

#dat-gui {
    z-index: 100 !important
}

.dg .color,
.dg.ac {
    z-index: 1000 !important
}