.container {
    margin-left: 24px;
    margin-right: 24px;

    @include for-tablet {
        margin-left: 40px;
        margin-right: 40px;
    }

    @include for-laptop {
        margin-left: 75px;
        margin-right: 75px;
    }

    @include for-desktop {
        margin-left: auto;
        margin-right: auto;
        max-width: 1400px;
        width: 100%;
    }

    @include for-desktop-lg {
        max-width: 1536px;
    }

    @include for-desktop-xl {
        max-width: 100%;
        width: auto;
        margin-left: 192px;
        margin-right: 192px;
    }

    @include for-tv {
        max-width: 2560px;
        margin-left: clamp(192px, 192px, auto);
        margin-right: clamp(192px, 192px, auto);
    }
}
