header {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    height: $height-header;
    transform-origin: top;
    opacity: 0; // made 1 with javascript to give loading effect without changing other settings
    transition: $transition-slow;

    // &::before {
    //     content: "";
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     right: 0;
    //     bottom: 0;
    //     background: $color-headerWhite;
    //     backdrop-filter: blur(12px); /* Adjust the blur intensity */
    //     z-index: -1; /* Ensure the blur is behind the content */
    // }

    &.scrollDown {
        opacity: 0;
        transform: translateY(-100%);
    }

    &.scrollUp {
        opacity: 1;
        transform: translateY(0);
        background: $color-headerWhite;
        height: $height-header - 20px;
        backdrop-filter: blur(12px);
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }

    .logo-container {
        position: relative;
        height: 24px;
        top: 2px;
    }

    .menu {
        display: none;
        justify-content: flex-start;
        align-items: center;

        nav {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: $height-nav-gap;
        }

        button.cta {
            margin-left: $height-nav-gap;
        }

        &-link:not(.dropdown) {
            color: $color-darkGrey;

            &:focus,
            &:hover,
            &:active,
            &.active {
                color: $color-black;
            }
        }

        &-toggle {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            height: $height-header;

            .line {
                display: inline-block;
                width: 24px;
                height: 2px;
                border-radius: 4px;
                background-color: $color-darkMidnight;
                position: absolute;
                top: calc(($height-header / 2) - 5px);
                right: 0;
                transition: $transition-quick;

                &:last-child {
                    top: calc(($height-header / 2) + 5px);
                }
            }

            &.active {
                .line {
                    transform-origin: center;
                    transform: rotate(45deg);
                    background-color: $color-black;
                    top: calc(($height-header / 2));

                    &:last-child {
                        transform: rotate(-45deg);
                    }
                }
            }

            &:hover {
                cursor: pointer;
            }
        }
    }

    &.dark {
        .menu {
            &-toggle {
                .line {
                    background-color: $color-grey;
                }

                &.active {
                    .line {
                        background-color: $color-white;
                    }
                }
            }

            &-link:not(.dropdown) {
                color: $color-grey;

                &::after {
                    background-color: $color-midnight;
                }

                &:focus,
                &:hover,
                &:active,
                &.active {
                    color: $color-white;

                    &::after {
                        background-color: $color-darkGrey;
                    }
                }
            }
        }
    }

    @include for-largePhone {
        .logo-container {
            height: 28px;
        }
    }

    @include for-tablet {
        .menu {
            display: flex;

            .logo-container,
            &-toggle {
                display: none;
            }
        }
    }
}
