#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $color-white;
    pointer-events: none;
    user-select: none;
    opacity: 1;
    transition: $transition-normal;
    z-index: 999;

    &.hide {
        opacity: 0;
    }
}
