$color-white: #fff;
$color-smoke: #f4f5f8;
$color-silver: #bbc4d2;
$color-shadow: #637695;
$color-grey: #858e97;
$color-darkGrey: #56616a;
$color-midnight: #2a2d38;
$color-darkMidnight: #17191f;
$color-black: #050411;
$color-social-share: #ededed;
$color-article-about: #f6f6f6;
$color-error: #d82b2b;
$color-cardGrey: #212328;
$color-cardGreyHover: #282a30;
$color-textSelection: #dcecf4;
$color-headerWhite: #ffffff80;
$color-headerDark: #17191f80;
// $color-primary: #1010c9;
$color-primary: #0948cf;
$ease: cubic-bezier(1, 0, 0, 1);
$ease-out: cubic-bezier(0.19, 1, 0.22, 1);
$ease-in: cubic-bezier(0.95, 0.05, 0.795, 0.035);
$default: cubic-bezier(0.25, 0.1, 0.25, 1);
$easeOutExpo: cubic-bezier(0.16, 1, 0.3, 1);
$easeInExpo: cubic-bezier(0.7, 0, 0.84, 0);
$z-card: 103;
$z-header: 102;
$z-popup: 101;
$menu-follow-delay: 0ms;
$height-header: 100px;
$height-nav-gap: 48px;
$font-family-medium: UniversalSans-500, Arial, sans-serif;
$font-family-medium-headlines: UniversalSans-500-Headlines, Arial, sans-serif;
$font-family-bold: UniversalSans-740, Arial, sans-serif;
$font-family-bold-headlines: UniversalSans-740-Headlines, Arial, sans-serif;
$font-weight-medium: 500;
$font-weight-bold: 740;
$marquee-gap: 60px;

$transition-quick: all 200ms $easeOutExpo;
$transition-normal: all 400ms $easeOutExpo;
$transition-slow: all 900ms $easeOutExpo;
