.btn {
  text-decoration: none;
  color: inherit;
  border: 1px solid black;
  padding: 12px 24px;
  border-radius: 200px;
}

header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    width: 150px;
  }
}
